Source: python-ss-statsd
Maintainer: Rob Terhaar <rob@atlanticdynamic.com>
Section: python
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.3), python-support (>= 1.0.3), python, python-setuptools
X-Python-Version: >= 2.7
Vcs-Git: https://github.com/robbyt/py-statsd
Vcs-Browser: https://github.com/robbyt/py-statsd
Homepage: https://github.com/robbyt/py-statsd

Package: python-ss-statsd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-argparse
Description: Statsd, in python
 A Python implementation of Etsy statsd daemon and client.
